<div class="row">
	<div class="container">
		<h2>USER DETAIL</h2><br>
		<h4 class="col-lg-1 col_name">S.No.</h4>
		<h4 class="col-lg-2 col_name" >Name</h4>
		<h4 class="col-lg-3 col_name">Email</h4>
		<h4 class="col-lg-3 col_name">Address</h4>
		<h4 class="col-lg-2 col_name">Contact</h4>
		<h4 class="col-lg-1 col_name">Action</h4>
	</div>
</div>
<% @x = 1 %>
<% @users.each do|u| %>
<div class="row">
	<div class="container">
		<h4 class="col-lg-1 col_name"><%= @x %></h4>
		<h4 class="col-lg-2 col_name"><%= u.name %></h4>
		<h4 class="col-lg-3 col_name"><%= u.user.email %></h4>
		<h4 class="col-lg-3 col_name"><%= u.address %></h4>
		<h4 class="col-lg-2 col_name"><%= u.contact %></h4>
		<h4 class="col-lg-1 col_name">
			<%= link_to raw("<i class='glyphicon glyphicon-edit' data-toggle='tooltip' data-placement='top' title='Edit' style='font-size:14px;margin-right:10px;'></i>"),{controller:"userdetail",action:"edit", :id=> u.id} %>
			<%= link_to raw("<i class='glyphicon glyphicon-remove-circle' data-toggle='tooltip' data-placement='top' title='Delete' style='font-size:14px;margin-left:10px;'></i>"),{controller:"userdetail",action:"delete", :id=> u.id} %>
		</h4>
	</div>
</div>
<% @x = @x + 1 %>
<% end %>