<div class="row">
	<div class="container">
		<h2>REVIEWS</h2><br>
		<h4 class="col-lg-1 col_name">S.No.</h4>
		<h4 class="col-lg-2 col_name">Name</h4>
		<h4 class="col-lg-3 col_name">Dish Name</h4>
		<h4 class="col-lg-5 col_name">Review</h4>
		<h4 class="col-lg-1 col_name">Action</h4>
	</div>
</div>
<% @x = 1 %>
<% @dishes.each do|d| %>
	<% @reviews = Review.where(dish_id: d.id) %>
		<% @reviews.each do|r| %>
			<div class="row">
				<div class="container">
					<h4 class="col-lg-1 col_name"><%= @x %></h4>
					<h4 class="col-lg-2 col_name"><%= r.user.name %></h4>
					<h4 class="col-lg-3 col_name"><%= r.dish.dish_name %></h4>
					<h4 class="col-lg-5 col_name"><%= r.description %></h4>
					<h4 class="col-lg-1 col_name">
						<%= link_to raw("<i class='glyphicon glyphicon-edit' data-toggle='tooltip' data-placement='top' title='Edit' style='font-size:14px;margin-right:10px;'></i>"),{controller:"review",action:"edit", :id=> r.id} %>
						<%= link_to raw("<i class='glyphicon glyphicon-remove-circle' data-toggle='tooltip' data-placement='top' title='Delete' style='font-size:14px;margin-left:10px;'></i>"),{controller:"review",action:"delete", :id=> r.id} %>
					</h4>
				</div>
			</div>
<% @x = @x + 1 %>
		<% end %>
		<% end %>